<!-- 
File Name: landing.component.html
Description: Landing component layout
Web app name: Aurora Research Company
Team name: A-Star
Team Members:
  Kuo, Yi-Cheng (301181514)
  Yeung, Lok Ki (301252535)
  Lam, Hing Yu (301257216)
  Chung, Ting Hin (301287013)
  Le, Hoang Long (301236235) 
-->

<!-- Landing Section -->

<!-- Title -->
<div class="container p-3">
    <h1 class="text-center" style="color:#2e5177; padding-top: 24px;">Welcome to Aurora Research</h1>
    <div class="container" style="margin-top: 48px;">
        <div class="row">
          <div class="col" style="padding-top:32px">
            <h3 style="color: #2364AA;">The Best Survey Solution for Everyone</h3>
            <h4 style="color: #3DA5D9;">
                More than just questionnaires — </h4>
            <p style="font-size: 16pt; color: dimgrey;">
                Aurora helps you unlock the maximum value from each response!</p>
            <!-- Hero Button -->
            <div >
                <a href="/user/main/survey/create" class="btn btn-info" role="button">Create A Survey Now!</a>
            </div>
          </div>
          <div class="col">
            <img style="max-width:100%; max-height: 100%;" src="/assets/img/image_landing.png"/>
          </div>
        </div>
      </div>
    <div>
</div>

    
    
    