<!-- Landing Section -->

<!-- Title -->
<div class="container p-3">
    <h1 class="text-center">Welcome to Aurora Research</h1>
    <div class="container" style="margin-top: 48px;">
        <div class="row">
          <div class="col">
            <h3 style="color: #2364AA;">The Best Survey Solution for Everyone</h3>
            <h4 style="color: #3DA5D9;">
                More than just questionnaires — </h4>
            <p style="font-size: 16pt; color: dimgrey;">
                Aurora helps you unlock the maximum value from each response!</p>
            <!-- Hero Button -->
            <div >
                <a href="/survey/create" class="btn btn-info" role="button">Create A Survey Now!</a>
            </div>
          </div>
          <div class="col">
            <img style="max-width:100%; max-height: 100%;" src="/assets/img/image_landing.png"/>
          </div>
        </div>
      </div>
    <div>
</div>

    
    
    