<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
          <div class="form-group">
            <label for="NameTextField">Name</label>
            <input
              type="text"
              class="form-control"
              id="NameTextField"
              required
              name="name"
              [(ngModel)]="survey.name"
            />
          </div>
  
          <div class="form-group">
            <label for="DescriptionTextField">Description</label>
            <input
              type="text"
              class="form-control"
              id="DescriptionTextField"
              required
              name="description"
              [(ngModel)]="survey.description"
            />
          </div>
  
          <div class="form-group">
            <label for="StartTimeTextField">Start Time</label>
            <input type="date"              
             class="form-control"
            id="StartTimeTextField"
            required
            name="start_time"
            [(ngModel)]="survey.start_time" />
          </div>
  
          <div class="form-group">
            <label for="EndTimeTextField">End Time</label>
            <input type="date"              
             class="form-control"
            id="EndTimeTextField"
            required
            name="end_time"
            [(ngModel)]="survey.end_time" />
          </div>

          <tbody *ngFor="let question of survey.questions">
            <div *ngIf="question.type == 'yesno'">
                <div class="form-group">
                    <label for="Question{{ question.question_priority }}TextField">Question {{ question.question_priority }} (Type : Yes No)</label>
                    <input
                      type="text"
                      class="form-control"
                      id="Question{{ question.question_priority }}TextField"
                      required
                      name="question.name.{{ question.question_priority }}"
                      [(ngModel)]="question.name"
                    />
                </div>
            </div>
            <div *ngIf="question.type == 'number'">
                <div class="form-group">
                    <label for="Question{{ question.question_priority }}TextField">Question {{ question.question_priority }} (Type : Number)</label>
                    <input
                      type="text"
                      class="form-control"
                      id="Question{{ question.question_priority }}TextField"
                      required
                      name="question.name.{{ question.question_priority }}"
                      [(ngModel)]="question.name"
                    />
                </div>
            </div>
          </tbody>
          
          <div class="container">
            <button type="button" class="btn btn-secondary" (click)="onNewNumberQuestion()">
              <i class="fa fa-plus"></i> Add a Number question
            </button>

            <button type="button" class="btn btn-secondary" (click)="onNewYesNoQuestion()">
              <i class="fa fa-plus"></i> Add a Yes NO question
            </button>
        </div>
        <br>
        <br>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add
          </button>
          <a href="/survey/list" class="btn btn-warning"
            ><i class="fa fa-undo"></i> Cancel</a
          >
        </form>
      </div>
    </div>
  </div>