<div class="container" style="max-width:640px;">
    <!-- Survey Header part-->
    <div class="container p-3">
        <h1 class="text-center aurora-title">Survey Response</h1>
    </div>
    <div>
        <h3 class="text_blue"><i class="fa fa-table"></i> Survey Name: {{survey.name}}</h3>
        <ul>
            <li>Description: {{survey.description}}</li>
            <li>Creator: {{survey.author}}</li>
            <li>Start time: {{survey.start_time| date:'yyyy/MM/dd':"+0000"}}</li>
            <li>End time: {{survey.end_time | date:'yyyy/MM/dd':"+0000"}}</li>
        </ul>
    </div>
    <div align="right">
        <a href="mailto:admin@aurora-research.ca">Report this survey</a>
    </div>
    <span style="width: 80%">
        <hr />
    </span>

    <!-- Question Section -->
    <form #f="ngForm" (ngSubmit)="onSubmitAnswer()" ngNativeValidate>
        <div class="question-bg" *ngFor="let question of survey.questions; let i = index">
            <div>
                <div class="form-group" *ngIf="answer.responses!=undefined">
                    <label style="font-size: 14pt;" for="Question{{ question.question_priority }}TextField">
                        <i class="fa fa-question-circle" style="color: #2393cb;"></i> Question {{
                        question.question_priority }}
                        : {{question.name}} </label>
                    <div class="padding-field" *ngIf="question.type=='number'">
                        <input type="number" class="form-control" id="question{{ question.question_priority }}" required
                            name="responses.{{ question._id }}" [(ngModel)]="answer.responses[i].options" />
                    </div>
                    <div class="padding-field" *ngIf="question.type=='yesno'">
                        <select [(ngModel)]="answer.responses[i].options" required>
                            <option></option>
                            <option>yes</option>
                            <option>no</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-info btn-block">
                    <i class="fa fa-plus"></i> Submit
                </button>
            </div>
            <div class="col">
                <a href="/survey/active" class="btn btn-secondary btn-block"><i class="fa fa-undo"></i> Cancel</a>
            </div>
        </div>
    </form>





















    <!-- The last one -->
</div>