<!-- 
File Name: navbar.component.html
Description: Navigation bar component layout
Web app name: Aurora Research Company
Team name: A-Star
Team Members:
  Kuo, Yi-Cheng (301181514)
  Yeung, Lok Ki (301252535)
  Lam, Hing Yu (301257216)
  Chung, Ting Hin (301287013)
  Le, Hoang Long (301236235) 
-->


<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-primary" style="background-color:aliceblue;">
  <a class="navbar-brand" href="/">
    <img src="/assets/img/aurora_logo_h.png" height="50px" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="color: #3DA5D9;">
    <i class="fa fa-bars fa-lg" ></i>
    
    Menu
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/landing">
          <i class="fas fa-lg fa-laptop-house"></i> Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/survey/active"><i class="fas fa-lg fa-file-alt"></i> Active Surveys
        </a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="/user/main/survey/list">
          <i class="fa fa-lg fa-cubes"></i> My Surveys
        </a>
      </li>

      <li *ngIf="isLoggedIn && isAdmin" class="nav-item">
        <a class="nav-link" href="/admin/main">
          <i class="fa fa-lg fa-users"></i> Admin
        </a>
      </li>
      
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="/user/edit-user">
          <i class="fas fa-lg fa-user-circle"></i> Welcome, {{ user?.displayName }}
        </a>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" href="/user/login">
          <i class="fas fa-lg fa-sign-in-alt"></i> Sign In
        </a>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" href="/user/register">
          <i class="fa fa-user-plus"></i> Sign Up
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">
          <i class="fas fa-lg fa-sign-out-alt"></i> Sign Out
        </a>
      </li>
    </ul>
  </div>
</nav>
