<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
              <!-- Add Button -->
      <a href="/survey/create" class="btn btn-primary"
      ><i class="fa fa-plus"></i> Create a new survey</a
    >

        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center"></th>
                 </tr>
            </thead>
            <tbody *ngFor="let survey of surveys">
              <tr>
                <td>{{ survey.name }}</td>
                <td class="text-center">{{ survey.description }}</td>
                <td class="text-center">
                  <a href="javascript:void(0);" [routerLink]="['/survey/edit', survey._id]">Edit</a>
                  ****
                    <a href="javascript:void(0);" (click)="deleteSurvey(survey)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>