<!-- 
File Name: edit.component.html
Description: Edit survey component layout
Web app name: Aurora Research Company
Team name: A-Star
Team Members:
  Kuo, Yi-Cheng (301181514)
  Yeung, Lok Ki (301252535)
  Lam, Hing Yu (301257216)
  Chung, Ting Hin (301287013)
  Le, Hoang Long (301236235) 
-->

<!-- Edit Survey Section -->
<div class="container" style="max-width: 540px;">
  
  <!-- Title -->
  <div class="container p-3">
    <h1 class="text-center aurora-title">Edit Survey</h1>
  </div>

  <!-- Error Message -->
  <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
    {{ errorMessage }}
  </div>

  <!-- Servey Form -->
  <form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group question-bg">
      <label for="NameTextField">Name</label>
      <input
        type="text"
        class="form-control"
        id="NameTextField"
        required
        name="name"
        [(ngModel)]="survey.name"
      />
    </div>

    <div class="form-group question-bg">
      <label for="DescriptionTextField">Description</label>
      <input
        type="text"
        class="form-control"
        id="DescriptionTextField"
        required
        name="description"
        [(ngModel)]="survey.description"
      />
    </div>

    <div class="form-group question-bg">
      <label for="StartTimeTextField">Start Time</label>
      <input type="date"              
        class="form-control"
      id="StartTimeTextField"
      required
      name="start_time"
      [(ngModel)]="startTime" />
    </div>

    <div class="form-group question-bg">
      <label for="EndTimeTextField">End Time</label>
      <input type="date"              
        class="form-control"
      id="EndTimeTextField"
      name="end_time"
      [(ngModel)]="endTime" />
    </div>

    <div *ngFor="let question of survey.questions">
      <div class="form-group question-bg">
          <label for="Question{{ question.question_priority }}TextField"><i class="fa fa-question-circle" style="color: #2393cb;"></i> Question {{ question.question_priority }} (Type : {{ question.type }})</label>
          <input
            type="text"
            class="form-control"
            id="Question{{ question.question_priority }}TextField"
            required
            name="question.name.{{ question.question_priority }}"
            [(ngModel)]="question.name"
          />
          <!-- Question Management Buttons -->
          <button type="button" class="btn" (click)="onMoveToPreviousQuestion(question)"><i class="fas fa-arrow-up"></i></button>
          <button type="button" class="btn" (click)="onMoveToNextQuestion(question)"><i class="fas fa-arrow-down"></i></button>
          <button type="button" class="btn" (click)="onRemoveQuestion(question)"><i class="fas fa-trash"></i></button>
      </div>
    </div>
    <!-- Question Buttons -->
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary" (click)="onNewNumberQuestion()">
        Add a question answering a number
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="onNewYesNoQuestion()">
        Add a question answering yes or no
      </button>
    </div>
    <br>
    <br>
    <!-- Form control Buttons -->
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-info btn-block">
            <i class="fas fa-edit"></i> Edit
          </button>
        </div>
        <div class="col">
          <a href="/user/main/survey/list" class="btn btn-secondary btn-block"><i class="fa fa-undo"></i> Cancel</a>
        </div>
      </div>
    </div>
  </form>
  </div>