<!-- User List Section -->
<div class="container">
    <!-- Title -->
    <div class="container p-3">
        <h1 class="text-center aurora-title">User List</h1>
    </div>

    <table class="table">
        <thead class="text-gray">
            <th class="text-center">Username</th>
            <th style="word-break: break-all;">Display Name</th>
            <th>Role</th>
            <th class="text-center" scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of Users; let i = index">
                <td class="text-center" style="word-break: break-all;">{{user.username}}</td>
                <td style="word-break: break-all;">{{user.displayName}}</td>
                <td>{{user.role}}</td>
                <td class="text-center">
                    <a href="javascript:void(0);" [routerLink]="['edit-user', user._id ]"
                        class="btn btn-primary btn-margin">
                        <i class="fas fa-edit"></i> Edit</a>

                    <a *ngIf='user.isActive' class="btn btn-warning btn-margin btn-enable" (click)="changeUserStatus(user._id, !user.isActive)">
                        <i class="fas fa-user-times"></i> Deactivate
                    </a>
                    <a *ngIf='!user.isActive' class="btn btn-info btn-margin btn-enable" (click)="changeUserStatus(user._id, !user.isActive)">
                        <i class="fas fa-user-check"></i> Activate
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a [routerLink]="['/admin/main']" class="btn btn-secondary btn-block"><i class="fa fa-undo"></i> Back</a>
    </div>
</div>