<!-- Active Surveys Section -->
<div class="container">
  <!-- Title -->
  <div class="container p-3">
    <h1 class="text-center">Active Surveys</h1>
  </div>

  <!-- Active Surveys List -->
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
        <tbody *ngFor="let survey of surveys">
          <tr>
            <td>{{ survey.name }}</td>

            <td class="text-center">
              <a
                href="javascript:void(0);"
                [routerLink]="['/survey/answer', survey._id]"
                >{{ survey.description }}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
