<!-- Active Surveys Section -->
<div class="container" style="max-width: 950px; min-height: 480px">

  <!-- Title -->
  <div class="container p-3">
    <h1 class="text-center aurora-title">Active Surveys</h1>
  </div>

  <!-- Active Surveys List -->
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="text-gray">
          <tr>
            <th style="width: 230px;">Name</th>
            <th >Description</th>
            <th class="text-center" style="width: 110px;">Survey</th>
          </tr>
        </thead>
        <tbody *ngFor="let survey of surveys">
          <tr>
            <td><a href="javascript:void(0);" [routerLink]="['/survey/answer', survey._id]">{{ survey.name }}</a></td>
            
            <td> {{ survey.description | truncate:200:'...' }}</td>
            <td class="text-center">
              <a class="btn btn-info" href="javascript:void(0);" [routerLink]="['/survey/answer', survey._id]">
                <i class="fa fa-play"></i> Do it
              </a>
            </td>
          </tr>

        </tbody>
      </table>
      <hr style="height: 3px; background-color: #44abe7"/>
  </div>
</div>
