<div class="container" style="max-width: 650px; min-height: 480px">
    <!-- Title -->
    <div class="container p-3">
        <h1 class="text-center aurora-title">Administrator</h1>
    </div>

    <!-- Action Items -->
    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-info btn-block" [routerLink]="['user-list']"
            [routerLinkActive]="'active'">User Management</button>

        <button type="button" class="btn btn-info btn-block" [routerLink]="['survey-list']"
            [routerLinkActive]="'active'">Survey Management</button>
    </div>
</div>