<!-- My Surveys Section -->
<div class="container">
  <!-- Title -->
  <div class="container p-3">
    <h1 class="text-center">My Surveys</h1>
  </div>

  <!-- Add Button -->
  <a href="/user/main/survey/create" class="btn btn-info"><i class="fa fa-plus"></i> Create a new survey</a>
  <br>
  <br>
  
  <!-- Survey table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 20%">Name</th>
          <th style="width: 60%">Description</th>
          <th class="text-center" style="width: 20%"></th>
        </tr>
      </thead>
      <tbody *ngFor="let survey of surveys">
        <tr>
          <td><a href="javascript:void(0);" [routerLink]="['/user/main/survey/report', survey._id]">{{ survey.name }}</a></td>
          <td><a href="javascript:void(0);" [routerLink]="['/user/main/survey/report', survey._id]">{{ survey.description | truncate:200:'...'}}</a></td>
          <td class="text-center">
            <a href="javascript:void(0);" [routerLink]="['/user/main/survey/edit', survey._id]"><i class="fas fa-edit"></i> Edit</a>
            |
            <a href="javascript:void(0);" (click)="deleteSurvey(survey)"><i class="fas fa-trash-alt"></i> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</div>