<!-- My Surveys Section -->
<div class="container" style="max-width: 980px; min-height: 480px">
  <!-- Title -->
  <div class="container p-3">
    <h1 class="text-center aurora-title">My Surveys</h1>
  </div>

  <!-- Add Button -->
  <a href="/user/main/survey/create" class="btn btn-info"><i class="fa fa-plus"></i> Create Survey</a>
  <br>
  <br>
  
  <!-- Survey table -->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="text-gray">
        <tr>
          <th style="padding-left: 32px; width: 250px;">Name</th>
          <th >Description</th>
          <th style="width: 316px;"></th>
        </tr>
      </thead>
      <tbody *ngFor="let survey of surveys">
        <tr>
          <td style="padding-left: 32px;">{{ survey.name }}</td>
          <td class="">{{ survey.description | truncate:200:'...'}}</td>
          <td class="text-right">

            <a href="javascript:void(0);" [routerLink]="['/user/main/survey/edit', survey._id]" class="btn btn-primary btn-margin">
              <i class="fas fa-edit"></i> Edit</a> 
            <a href="javascript:void(0);" (click)="deleteSurvey(survey)" class="btn btn-secondary btn-margin"> 
              <i class="fas fa-trash-alt"></i> Delete</a>
            <a href="javascript:void(0);" [routerLink]="['/user/main/survey/report', survey._id]" class="btn btn-info btn-margin">
              <i class="far fa-file-alt"></i> Report</a>
          </td>
        </tr>
      </tbody>
    </table>
    <hr style="height: 3px; background-color: #44abe7"/>
</div>