/* 
File Name: styles.css
Description: Define web site styles
Web app name: Aurora Research Company
Team name: A-Star
Team Members:
  Kuo, Yi-Cheng (301181514)
  Yeung, Lok Ki (301252535)
  Lam, Hing Yu (301257216)
  Chung, Ting Hin (301287013)
  Le, Hoang Long (301236235)
*/
.aurora-title {
    color:#2e5177;
    padding-top: 12px;
}

.aurora-bg-aliceblue{
    background-color: aliceblue; 
    padding: 32px 0px 0px 0px;
}

.text-gray{
    color: white;
    background-color: #1a7cb5;

}

.padding-field{
    padding-left: 26px;
    padding-right: 26px;
}

.btn-margin{
    margin-top: 4px;
    margin-left: 8px;
}

.question-bg{
    background-color: #F2F7FE; 
    padding: 16px 16px 12px 16px; 
    margin-top: 8px; 
    margin-bottom: 12px;
}

.btn-enable{
    width: 136px;
}
