<!-- 
File Name: edit-password.component.html
Description: Edit password component layout
Web app name: Aurora Research Company
Team name: A-Star
Team Members:
  Kuo, Yi-Cheng (301181514)
  Yeung, Lok Ki (301252535)
  Lam, Hing Yu (301257216)
  Chung, Ting Hin (301287013)
  Le, Hoang Long (301236235) 
-->

<!--Edit Password Information-->
<div class="container" style="max-width: 840px">
  <!-- Title -->
  <div class="container p-3">
    <h1 class="text-center">Change Password</h1>
  </div>

  <!-- Register Form -->
  <div class="row">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-8 offset-sm-1 aurora-bg-aliceblue">
      <form
        autocomplete="off"
        #form="ngForm"
        (ngSubmit)="savePassword(form)"
        ngNativeValidate
      >
        <fieldset class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            [(ngModel)]="user.password"
            autocomplete="off"
          />
        </fieldset>

        <fieldset class="form-group text-center">
          <button class="btn btn-primary m-1" type="submit">
            <i class="fas fa-save"></i>
            Save
          </button>
          <button class="btn btn-secondary m-1" routerLink="/home">
            <i class="fas fa-undo"></i>
            Cancel
          </button>
        </fieldset>
        <fieldset class="form-group text-center">
          Want to edit user profile? <a href="/user/edit-user">Edit User Profile</a>
        </fieldset>
      </form>
    </div>
  </div>
</div>
